<div class="d-flex align-items-start gap-3">
    <!-- Start Time Card -->
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Start Time</mat-card-title>
        <mat-card-content>
            <p>{{ data.startTime }}</p>
        </mat-card-content>
    </mat-card>

    <!-- End Time Card -->
    <mat-card class="mat-elevation-z8">
        <mat-card-title>End Time</mat-card-title>
        <mat-card-content>
            <p>{{ data.endTime }}</p>
        </mat-card-content>
    </mat-card>

    <!-- Title Card -->
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Title</mat-card-title>
        <mat-card-content>
            <p>{{ data.title }}</p>
        </mat-card-content>
    </mat-card>
</div>

<div class="d-flex justify-content-end mt-3">
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
    <button mat-flat-button color="primary" (click)="closeModal()">Close</button>
</div>
