<div class="calendar-container">
    <div class="header">
        <h2>Timetable for {{ selectedCalendarEvent.appointmentDate| date:'EEEE, MMMM d' }}</h2>
    </div>

    <div class="timetable">
        <div class="time-column">
            <!-- Iterate through all time slots -->
            <div *ngFor="let timeSlot of timeSlots" class="time-slot" cdkDropList
                [cdkDropListData]="calendarEvents[timeSlot] || []" [cdkDropListConnectedTo]="connectedDropLists"
                (cdkDropListDropped)="onDrop($event, timeSlot)" [id]="timeSlot">
                <strong>{{ timeSlot }}</strong>

                <!-- Iterate through events in this time slot -->
                <div *ngFor="let event of calendarEvents[timeSlot] || []; let i = index" class="event" cdkDrag>
                    <mat-card (click)="selectEvent(event, timeSlot,i)">
                        {{ event.title }} --
                        ({{event.appintmentTime}})
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
