.calendar-container {
  width: 100%; /* Use 100% of the available width */
  max-width: 800px; /* Optional: Set a maximum width for larger screens */
  margin: 20px auto; /* Center the container */
  border: 1px solid #ccc;
  padding: 10px;
}

.time-column {
  display: flex;
  flex-direction: column;
  width: 100%; /* Take up full width of the container */
}

.time-slot {
  padding: 8px;
  border-bottom: 1px solid #eee;
  width: 100%; /* Ensure each time slot takes up full width */
}

.event {
  margin-top: 5px;
  width: 100%; /* Ensure each event takes up full width of the time slot */
}

mat-card {
  /* font-size: 12px; */
  font-size: small;
  width: 100%; /* Ensure mat-card takes up full width of the event */
}




.header {
  text-align: center;
}

.timetable {
  display: flex;
}

