.calendar-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.time-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time-slot {
  padding: 8px;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.event {
  margin-top: 5px;
  width: 100%;
}

/* Apply light blue background to the mat-card */
mat-card {
  font-size: small;
  width: 100%;
  background-color: lightblue; /* Light blue background for the entire card */
  border: none; /* Remove the default border if you don't want it */
}

.header {
  text-align: center;
}

.timetable {
  display: flex;
}
