<div class="container-fluid">
  <fieldset class="border rounded p-4">
    <legend class="float-none w-auto px-2">Calendar (Add Appointment)</legend>

    <form [formGroup]="calendarForm" (ngSubmit)="onSubmit()">
      <!-- Flexbox row for date and time controls -->
      <div class="d-flex align-items-end gap-3"> <!-- Flexbox container -->
        <div class="flex-item">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Choose a date</mat-label>
            <input matInput [formControl]="dateControl" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex-item">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Choose a time</mat-label>
            <input matInput [formControl]="timeControl" type="time">
          </mat-form-field>
        </div>

        <div class="flex-item">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Event Title</mat-label>
            <input matInput [formControl]="titleControl" type="text">
          </mat-form-field>
        </div>

      </div>

      <div class="flex-item">
        <button mat-raised-button type="submit" [disabled]="!calendarForm.valid" color="primary" class="w-100">
          Submit
        </button>

      </div>
    </form>
  </fieldset>
</div>